// banner
.banner {
  color: white;
  text-align: center;
  height: 100vh;

  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.banner-mobile {
  color: white;
  text-align: center;
  height: 70vh;

  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



// mot accueil

.text-accueil {
  display: block;
  margin-top: 5%;
  margin-bottom: auto;
}

.profil-image {
  img {
    height:300px;
    width: auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
  }
}

.arrow-banner {
  position: absolute;
  bottom: 5px;
  left: 48%;
}
// deroulement de la journee
.arrow-center {

  img {
    width: auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
  }
}

.eglise {
  img {
    width: 80%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border-radius:5px;
  }
}

.eglise-picto {
  display: block;
  margin-bottom: auto;
  margin-top: 10px
  img {
    margin-right: 10px;
  }
}

.picto-sun {
  table {
    margin-right:auto;
    margin-left: auto;
    margin-top: 20%;
    margin-bottom: 10%;
  }
  img {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.picto-cloud {
  table {
    margin-right:auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  img {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.picto {
  margin-top:auto;
  img {
    margin-right: 10px;
  }
}

.magreville {
  img {
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top:5%;
  }
}

// activite wissant
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius:5px;
  margin-bottom:10px;
  margin-top: 10px;
}

.banner-end {
  height: 300px;
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius:5px;
  margin-top:50px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.banner-end-description {
  position: absolute;
  bottom: 120px;
  right: 30%;
}

.banner-end-description-mobile {
  position: absolute;
  bottom: 120px;
  left: 0px;
}

.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }

.logement {
  table {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-right: 10px;
  }
}


.gift {
  table {
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-right: 10px;
  }
}
.contact {
  table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  img {
    margin-right: 10px;
  }
}

.footer {
  width:100%;
  height:60px;
  background-color: #e8eaef;
  color: white;
  margin-top:10px;
  .center-vertical
  {
    margin-top: 20px;
  }
}
// background-color
// html, body {
//   background-color: #eaefff;
// }

