<div class="banner parallax" style="background-image: url('https://res.cloudinary.com/dh6cexxkf/image/upload/v1485038323/mariage/Photo_fianc%CC%A7aille_1.png'); background-position: 50% 32%;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 text-center col-md-offset-1 pv-20">
        <h2 class="title">Valentine et Thomas</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  Kikou
  </div>
</div>
